[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
rich = "*"
pydantic = "*"
dataclassy = "*"
email-validator = "*"
pytest-dotenv = "*"
python-dotenv = "*"
install = "*"
pytest-parallel = "*"
pytest-random-order = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.8"
